.root {
  margin-left: 20px;
  li {
    display: inline-block;
    a {
      display: inline-block;
      text-align: center;
      width: 40px;
      line-height: 42px;
      height: 40px;
      border: 2px solid #4c9cee;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      font-weight: 700;
      color: gray;

      &:hover {
        background: #4c9cee;
        color: white;
      }

    }
  }
  :global {
    .selected {
      a {
        background-color: #4c9cee;
        color: white;
      }
    }
  }
}

