.selectBlock {
    position: absolute;
    top: 3px;
    right: 17px;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 150px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background-color: #e8e8e8;

    span {
        display: block;
    }
}

.arrow {
    transition: 0.3s;
}

.rotate {
    rotate: 180deg;
    transition: 0.3s;
}

.optionItem {
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    background-color: #e8e8e8;
}

.optionItem:hover {
    background: #67c6f1;
}

.selected {
    background: #67c6f1;
}